h1{
    background-color: red;
 }
 p{
     color: crimson;
 }
 p .mids{
     font-family: 'Courier New', Courier, monospace;
     color: darkblue;
 }
 #mids{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: darkgoldenrod;
 }